body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
  padding-top: 100px;
}

h1 {
  color: #35636e;
}

#dialog {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid #35636e;
  border-radius: 3px;
}

#header {
  font-size: 28px;
  padding: 20px;
  background-color: #35636e;
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#footer {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  padding-top: 20px;
}

#balance-form,
#increment-decrement__buttons {
  display: flex;
  justify-content: space-around;
}

#address-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #35636e;
  border-radius: 3px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #35636e;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #35636e;
  transition: background 0.3s, color 0.3s;
}

.button:hover {
  background: #35636e;
  color: white;
}

#balance-output {
  text-align: center;
  height: 50px;
  margin-top: 20px;
  font-size: 25px;
  color: #333;
}

#error-message {
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  font-size: 16px;
  color: #c73d18;
  background: rgba(199, 61, 24, 0.3);
}

#current-value {
  text-align: center;
  font-size: 25px;
}

#loading__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #35636e; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
