body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
  padding-top: 100px;
}

h1 {
  color: #35636e;
}

#dialog {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid #35636e;
  border-radius: 3px;
}

#header {
  font-size: 28px;
  padding: 20px;
  background-color: #35636e;
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#footer {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  padding-top: 20px;
}

#balance-form {
  display: flex;
  justify-content: space-between;
}

#address-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #35636e;
  border-radius: 3px;
}

#show-balance-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #35636e;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #35636e;
  transition: background 0.3s, color 0.3s;
}

#show-balance-button:hover {
  background: #35636e;
  color: white;
}

#balance-output {
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  font-size: 48px;
  color: #333;
}

#error-message {
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  font-size: 16px;
  color: #c73d18;
  background: rgba(199, 61, 24, 0.3);
}

.show {
  display: flex;
}

.hide {
  display: none;
}
